POSTGRES_DB=indeconnect
POSTGRES_USER=indeconnect
POSTGRES_PASSWORD=indeconnect
POSTGRES_HOST=db
POSTGRES_PORT=5432

ASPNETCORE_ENVIRONMENT=Development

JWT_SECRET=met_un_secret_de_32+_caracteres_ici
JWT_ISSUER=IndeConnect
JWT_AUDIENCE=IndeConnectClients

SENDGRID_API_KEY=APIKEY
SENDGRID_FROM_EMAIL=SenderEmail
SENDGRID_FROM_NAME=SenderName
FRONTEND_URL=urlFront