# DB
POSTGRES_DB=indeconnect
POSTGRES_USER=indeconnect
POSTGRES_PASSWORD=indeconnect

# API
ASPNETCORE_ENVIRONMENT=Production
# Chaîne de connexion dérivée des variables DB
CONNECTIONSTRINGS__DEFAULT=Host=db;Port=5432;Database=${POSTGRES_DB};Username=${POSTGRES_USER};Password=${POSTGRES_PASSWORD}
